<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <instrumentation
        android:name=".ShizukuProbeInstrumentation"
        android:functionalTest="true"
        android:targetPackage="io.github.mekhontsev.magicdesk" />
    <instrumentation
        android:name=".NubiaVendorProbeInstrumentation"
        android:functionalTest="true"
        android:targetPackage="io.github.mekhontsev.magicdesk" />
    <instrumentation
        android:name=".DesktopLifecycleInstrumentation"
        android:functionalTest="true"
        android:targetPackage="io.github.mekhontsev.magicdesk" />
</manifest>
